* {
    font-family: 'Montserrat' , sans-serif;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../assets/fonts/Montserrat-Bold.ttf') ;
    src: url('../assets/fonts/Montserrat-Medium.ttf') ;
    src: url('../assets/fonts/Montserrat-Regular.ttf') ;
}

@font-face {
    font-family: 'butler';
    src: url('../assets/fonts/Butler_Bold.otf');
}


.hero-title , .hero-title span {
    font-family: 'butler' , sans-serif;
    font-size: 55px !important;
}

h4 {
    font-size: 15px !important;
}

p {
    font-size: 25px !important;
    font-weight: 500;
    font-family: 'Montserrat' , sans-serif;
}

a {
    font-family: 'Montserrat' , sans-serif;
    text-transform: capitalize;
    font-size: 15px !important;
    font-weight: 500 !important;
    text-decoration: none !important;
}

button {
    font-size: 15px !important;
    font-weight: 600 !important;
}

footer {
    background-color: #383838 !important;
}

.no-outline:focus {
    outline: none !important;
    box-shadow: none !important;
}

.pointer {
    cursor: pointer;
}
